torch
torchvision
numpy
tqdm
tensorboard
matplotlib
pandas
speechbrain~=0.5.9
torchaudio~=0.9.1
datasets
torch_audiomentations
editdistance
wandb
gdown
pyctcdecode
https://github.com/kpu/kenlm/archive/master.zip